name: test
on: [push, workflow_dispatch]
jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install iverilog
        shell: bash
        run: sudo apt-get update && sudo apt-get install -y iverilog

      # Set Python up and install cocotb
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Python packages
        shell: bash
        run: pip install -r requirements.txt

      - name: setup fusesoc dependencies
        run: fusesoc library add https://github.com/fusesoc/fusesoc-cores

      - name: Run tests
        env:
          PYGPI_PYTHON_BIN: "/usr/bin/python"
        run: |
          fusesoc --cores-root . run stevej_fifo

      - name: upload vcd
        if: success() || failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-vcd
          path: |
            test/tb.vcd
            test/results.xml
            test/output/*
